<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/style.css">
    <!-- <link rel="stylesheet" href="Styles/bulma.css"> -->
    <!-- <link rel="stylesheet" href="Styles/tailwind.css"> -->
    <!-- <script src="Scripts/script.js"></script> -->
    <title>Document</title>
</head>
<body>
    
    <div class="navbar">
        <a class="title" href="">Developper<span>X.</span></a>
        
        <div class="links">
            <a href="#" class="link">Home</a>
            <a href="#about" class="link">About</a>
            <a href="#skill" class="link">Skills</a>
            <a href="#project" class="link">Project</a>
        </div>

        <div class="buttons">
            <div class="button dark b2">
                <input type="checkbox" name="" id="b2">
                <label for="b2"></label>
            </div>
        </div>
    </div>

    <div id="home">
        <div class="background"></div>
        <div class="body">
            <div class="sub">Hi, There</div>
            <div class="title">I'm <span>Alan Sodea</span></div>
            <div class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem culpa eligendi dolorum iure odio nostrum suscipit molestias officiis accusamus sit? Vero enim dolores harum, ipsum totam qui quod porro architecto.</div>
            <div class="social">
                <a style='background-image: url("../Images/github.svg");'></a>
                <a style='background-image: url("../Images/youtube.svg");'></a>
                <a style='background-image: url("../Images/instagram.svg");'></a>
                <a style='background-image: url("../Images/stackoverflow.svg");'></a>
            </div>
            
            <div class="butt">
                <a class="b1">Hire Me</a>
                <a class="b2" href="/Datas/CV.pdf">Download my CV</a>
            </div>
        </div>
    </div>
    
    <div id="about">
        <section></section>

        <section class="s2">
            <div class="title">I am a <span>Full-Stack Developper</span> & <span>Data Scientist</span</div>    
            <div class="infos">
                <div class="info"><front class="front">Experience : </front>06 Years</div>
                <div class="info"><front class="front">Speciality : </front>Algorigthm Design</div>
                <div class="info"><front class="front">Adress : </front>Yaounde, Cameroon</div>
                <div class="info"><front class="front">Email : </front>konzousodea@gmail.com</div>
                <div class="info"><front class="front">Phone : </front>+237 699 97 09 51</div>
            </div>
        </section>
    </div>

    <div id="skill">
        <div class="myskill">

        </div>
        <div class="myskill">

        </div>
    </div>


</body>
</html>